
# Webservice URL to send the data to
WEBSERVICE_URL=

# Public IP of the container
FLY_PUBLIC_IP=

# Truesocil info
TRUTHSOCIAL_USERNAME=
TRUTHSOCIAL_PASSWORD=
TARGET_USERNAME="realDonaldTrump"
FETCH_INTERVAL_SECONDS="60"
INITIAL_SINCE_ID=

# Logger-Konfiguration
LOG_LEVEL="INFO"

# Truthbrush API
API_VERBOSE_OUTPUT="False"
